[submodule "3rdPartyTools/dockcross"]
	path = 3rdPartyTools/dockcross
	url = git@github.com:dockcross/dockcross.git
[submodule "3rdPartyTools/v4l2rtspserver"]
	path = 3rdPartyTools/v4l2rtspserver
	url = git@github.com:mpromonet/v4l2rtspserver.git
[submodule "3rdPartyTools/zsgx1hacks"]
	path = 3rdPartyTools/zsgx1hacks
	url = https://github.com/ant-thomas/zsgx1hacks
[submodule "3rdPartyTools/anyka_v380ipcam_experiments"]
	path = 3rdPartyTools/anyka_v380ipcam_experiments
	url = https://github.com/ricardojlrufino/anyka_v380ipcam_experiments
